body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .quiz-container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  button {
    margin-top: 1rem;
    padding: 10px 15px;
    border: none;
    background-color: #4c53af;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .correct {
    background-color:  #4CAF50 !important;
  }
  
  .incorrect {
    background-color: #f44336 !important;
  }
  
  .hide {
    display: none;
  }
  